
header {
    display: flex;
    height: 70px;
    background-color: rgba(255, 166, 0, 0.151);
    justify-content: space-between;
    align-items: center ;
    padding: 30px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:orange;
}

/*imagen del cuerpo de la web*/

.imgen{
    display: flex;
    margin-top: 10px;
    align-items: center;
}



.skill {
    width: 600px;
    margin-right: auto;
    border: 1px solid #ccc;
    padding: 10px;
    
}

.container {
    width: 50%;
    background-color: white;

}

.skills{
    text-align: righ;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.html {
    background-color: #04aa6d;
    animation: fillhtml 2s forwards

}

.css {
    background-color: black;
    animation: fillcss 2s forwards
}

.git {
    background-color: rgb(236, 14, 14);
    animation: fillgit 2s forwards
}

.python {
    background-color: rgb(30, 9, 78);
    animation: fillpython 2s forwards
}


@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 20%;}
}

@keyframes fillcss{
    0%{width: 0;}
    100%{width: 10%;}
}

@keyframes fillgit{
    0%{width: 0;}
    100%{width: 30%;}
}
@keyframes fillpython{
    0%{width: 0;}
    100%{width: 5%;}
}


/*Footer*/

.footer-style {
    padding-top: 10px;
    background-color: rgba(255, 166, 0, 0.151);
}
footer {
  color:black;
}
footer h3 {
    display: flex;
    justify-content: center;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: rgba(255, 166, 0, 0.151);
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: rgba(255, 166, 0, 0.151);
}
.footerlogos {
    display: flex;
    justify-content: center;
    
}